/* Ini CSS *

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border: 1px solid;
}

.home-icon {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

